<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::title}, ~{::body})}">
<head>
    <title>管理者用のトップページ</title>
</head>
<body>
<h1>管理者用のトップページ</h1>

<div class="mt-3">
    <a href="./show_admin.html" th:href="@{/admin/show_admin}" class="btn btn-outline-success">管理者一覧</a>
</div>

<div class="mt-3">
    <a href="./control" th:href="@{/admin/control}" class="btn btn-outline-warning">管理者登録</a>
</div>

<div class="mt-3">
    <a href="./show_user.html" th:href="@{/admin/show_user}" class="btn btn-outline-info">ユーザー一覧</a>
</div>

<form action="#" th:action="@{/logout}" method="post">
    <div class="mt-3">
        <button type="submit" class="btn btn-outline-secondary">ログアウト</button>
    </div>
</form>

</body>
</html>