<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::title}, ~{::body})}">
<head>
    <meta charset="UTF-8">
    <title>ユーザー管理</title>
</head>
<body>
<h1 class="mt-3">ユーザー管理</h1>
<div class="mt-3">
<!-- TODO    ユーザー名　｜｜　パスワード変更画面へ遷移-->
</div>
<span class="mt-3">
    <a href="./deleteform.html" th:href="@{/user/userdelete}" class="btn btn-outline-danger">ユーザー削除</a>
</span>
<span class="mt-3">
    <a href="/" th:href="@{/}" class="btn btn-outline-danger">戻る</a>
</span>
</body>
</html>