<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::title}, ~{::body})}">
<head>
    <title>トップページ | 日記システム</title>
    <link rel="stylesheet" href="button.css">
</head>
<body>
<h1 class="mt-3">トップページ</h1>
<div class="mt-3">
    <a href="/showDiary" th:href="@{/diary/showDiary}" class="btn btn-outline-success">日記一覧</a>
</div>
<div class="mt-3">
    <a href="/showDiary" th:href="@{/diary/createDiary}" class="btn btn-outline-warning">日記作成</a>
</div>
<div class="mt-3">
    <a href="./user/Control.html" th:href="@{/user/control}" class="btn btn-outline-info">ユーザー管理</a>
</div>
<form action="#" th:action="@{/logout}" method="post">
    <div class="mt-3">
        <button type="submit" class="btn btn-outline-secondary">ログアウト</button>
    </div>
</form>

</body>
</html>



