<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::title}, ~{::body})}">
<head>
    <title>トップページ | 日記システム</title>
    <link rel="stylesheet" href="button.css">
</head>
<body>

<h1 class="mt-3">トップページ</h1>

<div class="mt-3">
    <a href="./diary/show_diary.html" th:href="@{/diary/show_diary}" class="btn btn-outline-success">日記一覧</a>
</div>

<div class="mt-3">
    <a href="./diary/diaryform.html" th:href="@{/diary/create_diary}" class="btn btn-outline-warning">日記作成</a>
</div>

<div class="mt-3">
    <a href="./user/control.html" th:href="@{/user/control}" class="btn btn-outline-info">ユーザー管理</a>
</div>

<div class="mt-3">
    <a href="./chat/show_caht.html" th:href="@{/chat}" class="btn btn-outline-primary">チャット</a>
</div>

<form action="#" th:action="@{/logout}" method="post">
    <div class="mt-3">
        <button type="submit" class="btn btn-outline-secondary">ログアウト</button>
    </div>
</form>

</body>
</html>



